<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%=pageHeading%> </h1>
  </div>
  <div class="box">
    <%  for(var i =0; i<= liItems.length; i++) { %>
    <div class="item">
      <input type="checkbox" name="" value="">
      <p><%= liItems[i]%></p>
    </div>
    <%  } %>

    <form class="item" action="/" method="post">

      <input type="text" name="nextListItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value= <%=pageHeading%> >+</button>

    </form>

  </div>

<%- include("footer") -%>
